html {
  background-image: url('/assets/photos/space.jpg');
  background-size: cover;     
  background-position: center; 
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.webtitle {
  text-align: center;
  font-size: large;
  color: violet;
  margin-top: 4vh;
}

.container {
  display: flex;
  align-items: flex-start; 
  gap: 50px;
  margin: 0 auto;
  box-sizing: border-box;
}


.rectangle {
  height: 90vh;
  flex-shrink: 0;
  width: 45vw;
  margin-left: 90px;
  background-color: transparent;
}
.about_me{
  padding-right: 20px;
}

input[type="radio"]{
  border:0;
  clip: rect(1px,1px,1px,1px);
  clip-path:inset(50%);
  height: 1px;
  margin: -1px;
  overflow:hidden;
  padding: 0px;
  position:absolute;
  width: 1px;
  word-wrap: normal;
} 

label {
  display: inline-block;
  padding: 10px 20px;
  margin: 0px;
  cursor: pointer;
  background-color: #bca2d3;
  border: 1px solid #b882d7;
  border-bottom: none;
  color: black;
}

input[type="radio"]:checked + label{
  background-color:  white;
  font-weight: bold;
  color: blueviolet ;

}

.tab-content {
  display: none;
  padding: 20px;
  border: 1px solid black;
  border-top: none;
  background-color:	#beb2d1;
  color: black;
  box-shadow: 0px 4px 6px rgba(0,0,0,1);

}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3{
  display: block;
}

.about_me{
  display: flex;
}


p {
  font-size: 18px;
}

.gardening{
  width: 250px;
  height: 250px;
  display: flex;
  gap: 20px;
}
